.captionAndNavi {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 90;
}

.staticCaption {
    width: 100%;
}

.yearCation {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f5;
    border-right: 1px solid #f0f0f5;
    display: flex;
    float: left;
    width: 80%;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
  
.rightNav {
    float: right;
    width: 20%;  
}
  
.textSelected {
	font-weight: 700;
	padding-bottom: 16px;
}

